html {
  font-size: 16px;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  color: hsla(0, 0%, 0%, .6);
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color: hsla(0, 0%, 0%, .4);
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color: hsla(0, 0%, 0%, .6);
}
h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  color: black;
}
p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  color: black;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .5rem 1rem .5rem;
  border-bottom: thin solid black;
}
.left {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}
.title h3 {
  margin-left: .5rem;
  color: black;
  align-items: center;
}
.title span {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: color: hsla(0, 0%, 0%, .4);
}
.title {
  display: flex;
  align-items: center;
}
.navigation {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.navigation p {
  margin: .5rem .5rem .5rem .5rem;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: thin solid black;
}
.banner-image {
  display: inline-flex;
}
.banner-image {
  width: 60%;
}
.banner-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: thin solid black;
}
